.newTask {
    margin: 0 auto;
    max-width: 46rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
    margin-top: -1.6875rem;
    height: 3.375rem;
}

.newTask input {
    flex: 1;

    padding: 1rem;

    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-100);
}

.buttonContainer {
    border: 0;
    border-radius: 8px;
    height: 3.375rem;
    padding: 1rem;

    font-weight: bold;
    color: var(--white);
    background: var(--blue-dark);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    cursor: pointer;

    transition: 0.3s;
}

.buttonContainer:hover {
    background: var(--blue);
}

.buttonContainer span {
    font-size: 0.875rem;
}

.main {
    max-width: 46rem;
    
    margin: 0 auto;

    margin-top: 4rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskCreated strong {
    color: var(--blue);
}

.taskCreated span,
.taskFinished span {
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;

    color: var(--gray-200);
    background: var(--gray-400);

    border-radius: 9999px;

    font-weight: bold;
    font-size: 0.75rem;
}

.taskFinished strong {
    color: var(--purple);
}

.tasks,
.emptyTasks {
    margin: 1.5rem 0;
}

.emptyTasks {
    padding: 4rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--gray-400);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.emptyTasks strong {
    display: block;
    line-height: 1.4;
}

.emptyTasks span {
    display: block;
    line-height: 1.4;
}

@media (max-width: 375px) {
    main {
        margin-top: 1rem !important;
    }

    .emptyTasks {
        padding: 2rem 0.5rem;
    }

    .newTask,
    main {
        padding: 0 1rem;
    }

    .header {
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .newTask,
    main {
      padding: 0 1rem;
    }
  }